body {
    background-color: #D05A00;
    text-align: center;
}

 h1 {
    color: #FEFFF8;   
} 

.Decks { 
    font-weight: bold;
    color: #000001;
}
.button{
    font-size: 100px;
    width: 500px;
    color: #D05A00;
    background-color: #FEFFF8;
    border: solid 10px ;
    margin: 0px;
}
.deckimg {  
    border-radius: 108px;
    border: solid 10px #FEFFF8;
    height: 204px;
    width: 216px;    
}
.homebutton {
    height: 50px;
    width: 50px;
    padding-right: 1500px;
}